@import "./../../theme.scss";

.modelist {
  width: 100%;
  
  background-color: $optional;
  border-radius: 8px;
  padding: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  > img {
    width: 48px;
    height: auto;
  
    filter: invert(50%);
    -webkit-filter: invert(50%);
  
    transition: filter 0.2s ease-in-out;
  }

  > img:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    cursor: pointer;
  }
}