$background: #1B1B1E;
$base: #222225;
$optional: #2A2A30;
$primary: #DADAE1;
$secondary: #A4A4B2;


@font-face {
  font-family: 'PTNarrowReg';
  src: url("./assets/fonts/PTSansNarrow-Regular.ttf");
}

@font-face {
  font-family: 'PTNarrowBold';
  src: url("./assets/fonts/PTSansNarrow-Bold.ttf");
}