@import "./../../theme.scss";

.chat {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  background-color: $base;
  border-radius: 8px;
  padding: 12px;
  margin-top: 12px;

  color: $primary;
  font-weight: 500;
}

.selector_inactive {
  background-color: $optional;
  border-radius: 6px;
  padding: 12px;
  width: 100%;

  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: $hover;
  }
}

.selector_active {
  position: relative;
  display: inline-block;
  width: 100%;

  background-color: $hover;
  border-radius: 6px 6px 0px 0px;
  padding: 12px;
}

.selector_options {
  position: absolute;

  width: 100%;
  left: 0;
  margin-top: 10px;

  background-color: $hover;
  padding: 12px;
  border-radius: 0px 0px 6px 6px;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0px;

  > .chatmode {
    color: $secondary;
  }

  > .desc {
    font-size: 0.9rem;
    font-weight: 400;
  } 

  &:hover {
    cursor: pointer;
    color: $active;

    > .chatmode {
      color: $active;
    }
  }
}

.messageContainer {
  width: 100%;
  background-color: $optional;

  margin: 2px 0px;
  padding: 8px;

  border-radius: 6px;
}

.messageStats {
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: $active;
}

.messageContent {
  font-weight: 400;
}

.divider {
  margin: 8px 0px;
  width: 100%;
  height: 1px;
  background-color: $hover;
}

.chatInput {
  width: 100%;

  padding: 5px;
  margin-right: 5px;

  color: $secondary;
  border: 2px solid $hover;
  border-radius: 6px;

  max-height: 100%;
}

.messageInput {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  height: fit-content;
  padding-top: 8px;
}

.chatMessages {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}